@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: grey;
    padding: 20px;
}

.centre {
    display: flex;
    justify-content: center;
}

.border {
    border: 1px solid red;
}
