<div class="container">
    <h1 class="centre">
        Outbound
    </h1>

    <mat-grid-list cols="4" rowHeight="100px" gutterSize="5px" style="margin-bottom: 5px;">
        <mat-grid-tile class="border mat-elevation-z2">
            <h2>Line</h2>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h2>Platform</h2>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h2>Arriving</h2>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h2>Express</h2>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="100px" gutterSize="5px" style="margin-bottom: 5px;">
        <mat-grid-tile class="mat-elevation-z2">
            <h3>{{ Directions[1] }}</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3 *ngIf="this.nextDeparture[0]">{{ this.nextDeparture[0].platformNumber }}</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3 *ngIf="this.nextDeparture[0]">{{ this.nextDeparture[0].time }} min</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3>N/A</h3>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="100px" gutterSize="5px" style="margin-bottom: 5px;">
        <mat-grid-tile class="mat-elevation-z2">
            <h3>{{ Directions[2] }}</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3 *ngIf="this.nextDeparture[1]">{{ this.nextDeparture[1].platformNumber }}</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3 *ngIf="this.nextDeparture[1]">{{ this.nextDeparture[1].time }} min</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3>N/A</h3>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="100px" gutterSize="5px" style="margin-bottom: 5px;">
        <mat-grid-tile class="mat-elevation-z2">
            <h3>{{ Directions[4] }}</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3 *ngIf="this.nextDeparture[2]">{{ this.nextDeparture[2].platformNumber }}</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3 *ngIf="this.nextDeparture[2]">{{ this.nextDeparture[2].time }} min</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3>N/A</h3>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="100px" gutterSize="5px" style="margin-bottom: 5px;">
        <mat-grid-tile class="mat-elevation-z2">
            <h3>{{ Directions[6] }}</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3 *ngIf="this.nextDeparture[3]">{{ this.nextDeparture[3].platformNumber }}</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3 *ngIf="this.nextDeparture[3]">{{ this.nextDeparture[3].time }} min</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3>N/A</h3>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="100px" gutterSize="5px" style="margin-bottom: 5px;">
        <mat-grid-tile class="mat-elevation-z2">
            <h3>{{ Directions[7] }}</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3 *ngIf="this.nextDeparture[4]">{{ this.nextDeparture[4].platformNumber }}</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3 *ngIf="this.nextDeparture[4]">{{ this.nextDeparture[4].time }} min</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3>N/A</h3>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="100px" gutterSize="5px" style="margin-bottom: 5px;">
        <mat-grid-tile class="mat-elevation-z2">
            <h3>{{ Directions[9] }}</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3 *ngIf="this.nextDeparture[5]">{{ this.nextDeparture[5].platformNumber }}</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3 *ngIf="this.nextDeparture[5]">{{ this.nextDeparture[5].time }} min</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3>N/A</h3>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="100px" gutterSize="5px" style="margin-bottom: 5px;">
        <mat-grid-tile class="mat-elevation-z2">
            <h3>{{ Directions[11] }}</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3 *ngIf="this.nextDeparture[6]">{{ this.nextDeparture[6].platformNumber }}</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3 *ngIf="this.nextDeparture[6]">{{ this.nextDeparture[6].time }} min</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3>N/A</h3>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="100px" gutterSize="5px" style="margin-bottom: 5px;">
        <mat-grid-tile class="mat-elevation-z2">
            <h3>{{ Directions[12] }}</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3 *ngIf="this.nextDeparture[7]">{{ this.nextDeparture[7].platformNumber }}</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3 *ngIf="this.nextDeparture[7]">{{ this.nextDeparture[7].time }} min</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3>N/A</h3>
        </mat-grid-tile>
    </mat-grid-list>
</div>