<div class="container">
    <h1 class="centre">
        Outbound
    </h1>

    <mat-grid-list cols="3" rowHeight="100px" gutterSize="5px" style="margin-bottom: 5px;">
        <mat-grid-tile class="border mat-elevation-z2">
            <h2>Line</h2>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h2>Platform</h2>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h2>Arriving</h2>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="3" rowHeight="100px" gutterSize="5px" style="margin-bottom: 5px;">
        <mat-grid-tile class="mat-elevation-z2">
            <h3>City Loop</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3>1</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3>5min</h3>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="3" rowHeight="100px" gutterSize="5px">
        <mat-grid-tile class="mat-elevation-z2">
            <h3>Flinders</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3>4</h3>
        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z2">
            <h3>10min</h3>
        </mat-grid-tile>
    </mat-grid-list>
</div>