#trainLogo {
    max-width:15%;
    height: auto;
    transform: translate(-3px, 195px);
}



.column1 {
    float: left;
    width: 20%;
    padding: 20px;
    height: 50px;
    /* Should be removed. Only for demonstration */
}

.column {

    width: 100%;
    height: auto;
    padding-top: 30px;
    font-size: 4rem;
    /* Should be removed. Only for demonstration */
}
