

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    /* position on the interface */
    position: absolute;
    right: 80px;
    top: 350px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;

    width: 100px;
    height: 10vh;
    background-color: rgba(11, 69, 151, 0.621);

    border-radius: 20px;

    box-shadow: 10px 10px 10px black;
    
}

.weatherImg{

    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;

    border-radius: 20px;

    top: 0;
    left: 0;
}

.temprature{


    position: relative;
    /* stays on top of the images*/
    z-index: 1;
    width: 100%;
    height: 100%;
    /* position*/
    display: flex;
    align-items: center;
    justify-content: center;
    /* style*/

    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: 800;
    

    
}





  

