mat-grid-list mat-grid-tile {
  border: 1px solid rgba(204, 204, 204, 0.393);
  background-color: rgb(66, 100, 237);
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.881);
}