#trainLogo {
    width: 8%;
    height: auto;
    margin: 0, 0, 0, 0;
    transform: translate(400px, -80px);


}

* {
    border: 1px solid red;

}

.column1 {
    float: left;
    width: 20%;
    padding: 20px;
    height: 50px;
    /* Should be removed. Only for demonstration */
}

.column {

    width: 100%;
    padding: 20px;
    height: 30px;
    /* Should be removed. Only for demonstration */
}

div {
    font-size: 4rem;

    padding: 0, 100, 100, 200;
}